Source: ros-melodic-autoware-external-msgs
Section: misc
Priority: optional
Maintainer: Abraham Monrroy <abrahammonrroy@yahoo.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-lgsvl-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-autoware-external-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-lgsvl-msgs
Description: Package to contain an install external message dependencies
